<div class="container">
  <h2>Products form</h2>
<form #myform="ngForm" (ngSubmit)="onSubmit()" novalidate><!--  *ngIf="!submitted" -->
  <!-- Angular: {{myform.value | json}}
  <hr />
  Model: {{product | json}} -->

  <div class="form-group">
    <label class="control-label">Title</label>
    <input type="text" class="form-control" required 
    [(ngModel)]="product.title"  name="title"  pattern="[A-Za-z]{3,15}" minlength="3" maxlength="15" #title="ngModel">
    <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
      <div *ngIf="title.errors.required">Title is required</div>
      <div *ngIf="title.errors.minlength">Title should be at least {{title.errors.minlength.requiredLength}} characters</div>
      <div *ngIf="title.errors.pattern">Title should match the pattern</div> 
    </div>
    <!-- {{title.className}} -->
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" required 
    [(ngModel)]="product.description" name="description" #description>
    <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
        <div *ngIf="description.errors.required">Description is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" required 
    [(ngModel)]="product.price" name="price" #price>
    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
        <div *ngIf="price.errors.required">Price is required</div>
        <div *ngIf="price.errors.invalid">Price can't be negative</div>
    </div>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" required min="0"
    [(ngModel)]="product.quantity" name="quantity" #quantity>
    <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
        <div *ngIf="quantity.errors.required">Quantity is required</div>
        <div *ngIf="quantity.errors.invalid">Quantity can't be negative</div>
    </div>
  </div>
  <div class="form-group">
    <input type="hidden" [(ngModel)]="product.image" name="image" value="product.png">
      <button class="btn btn-primary" type="submit" [disabled]="myform.invalid">Save</button>
    </div>
    <!-- Form valid: {{myform.className}} -->
</form>
</div>
