<ng-template #content let-modal>

  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="setCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th>{{'products.id' | translate: param}}</th>
          <th>{{'products.title' | translate: param}}</th>
          <th>{{'products.description' | translate: param}}</th>
          <th>{{'products.price' | translate: param}}</th>
          <th>{{'products.image' | translate: param}}</th>
          <th>{{'products.quantity' | translate: param}}</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="setActive(efcContextMark)">
          <td>{{selectedProduct.id}}</td>
          <td>{{selectedProduct.title | uppercase}}</td>
          <td>{{selectedProduct.description}}</td>
          <td>{{selectedProduct.price | currency:'EUR':'symbol':'1.2-2'}}</td>
          <td><img src="../../assets/images/{{selectedProduct.image}}" height="50"></td>
          <td>{{selectedProduct.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <p>Hello, {{name}}!</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="setCancel()">Close</button>
  </div>
</ng-template>
